
<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">

        <table class="table">
          <thead class="table-dark">
            <tr>
              <td> Variable </td>
              <th> Pipe </th>
              <td> Salida </td>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td> {{ nombre }} </td>
              <th><small> uppercase </small></th>
              <td> {{ nombre | uppercase }} </td>
            </tr>

            <tr>
              <td> {{ nombre }} </td>
              <th><small> lowercase </small></th>
              <td> {{ nombre | lowercase }} </td>
            </tr>

            <tr>
              <td> {{ nombre }} </td>
              <th><small> slice: 3 </small></th>
              <td> {{ nombre | slice:3 }} </td>
            </tr>

            <tr>
              <td> {{ nombre }} </td>
              <th><small> slice: 0:3 </small></th>
              <td> {{ nombre | slice:0:3 }} </td>
            </tr>

            <tr>
              <td> {{ arreglo }} </td>
              <th><small> slice: 1:5 </small></th>
              <td> {{ arreglo | slice:1:5 }} </td>
            </tr>

            <tr>
              <td> {{ PI }} </td>
              <th><small> number: '1.0-2' </small></th>
              <td> {{ PI | number: '1.0-2' }} </td>
            </tr>

            <tr>
              <td> {{ PI }} </td>
              <th><small> number: '3.0-4' </small></th>
              <td> {{ PI | number: '3.0-4' }} </td>
            </tr>

            <tr>
              <td> {{ porcentaje }} </td>
              <th><small> percent </small></th>
              <td> {{ porcentaje | percent }} </td>
            </tr>

            <tr>
              <td> {{ porcentaje }} </td>
              <th><small> percent: '2.2-2' </small></th>
              <td> {{ porcentaje | percent:'2.2-2' }} </td>
            </tr>

            <tr>
              <td> {{ salario }} </td>
              <th><small> currency </small></th>
              <td> {{ salario | currency }} </td>
            </tr>

            <tr>
              <td> {{ salario }} </td>
              <th><small> currency: 'CLP': 'symbol-narrow' </small></th>
              <td> {{ salario | currency:'CLP':'symbol-narrow' }} </td>
            </tr>

            <tr>
              <td> {{ salario }} </td>
              <th><small> currency: 'CLP ': 'symbol': '.0-2' </small></th>
              <td> {{ salario | currency:'CLP ':'symbol':'.0-2' }} </td>
            </tr>

            <tr>
              <td> {{ valorPromesa }} </td>
              <th><small> async </small></th>
              <td> {{ valorPromesa | async }} </td>
            </tr>

            <tr>
              <td> {{ fecha }} </td>
              <th><small> date </small></th>
              <td> {{ fecha | date }} </td>
            </tr>

            <tr>
              <td> {{ fecha }} </td>
              <th><small> date: 'medium' </small></th>
              <td> {{ fecha | date:'medium' }} </td>
            </tr>

            <tr>
              <td> {{ fecha }} </td>
              <th><small> date: 'short' </small></th>
              <td> {{ fecha | date:'short' }} </td>
            </tr>

            <tr>
              <td> {{ fecha }} </td>
              <th><small> date: 'MMMM -dd' </small></th>
              <td> {{ fecha | date:'MMMM -dd' }} </td>
            </tr>

            <tr>
              <td> {{ fecha }} </td>
              <th><small> date: 'MMMM -dd': ' ': '{{ idioma }}' </small>
                <br><br>
                <button (click)="idioma='es-CL'" class="mr-1 btn btn-secondary">Español</button> 
                <button (click)="idioma='en'" class="mr-1 btn btn-secondary">Inglés</button>
                <button (click)="idioma='fr'" class="mr-1 btn btn-secondary">Francés</button>
              </th>
              <td> {{ fecha | date:'MMMM - dd':'': idioma }} </td>
            </tr>


          </tbody>
        </table>
        <br>
        <h4> Slice </h4>
        <h6> *ngFor Silce ->  <small> item of arreglo | slice:5:20</small> </h6>
        <ul>
          <li *ngFor="let item of arreglo | slice:5:20"> {{ item }} </li>
        </ul>

      </div>
    


    <h4><br> Slice </h4> 
    <h6> *ngFor Slice -> <small> personaje of personajes | slice:1:4" </small></h6>
    <ul class="list-group">
      <li *ngFor="let personaje of personajes | slice:1:4"
          class="list-group-item"> {{ personaje }}
      </li>
    </ul>
    <br>

    <h4><br> JSON </h4> 
    <hr>
    <div class="row mb-5">
      <div class="col">
        <pre>
          {{ heroe | json }}
        </pre>
      </div>
    </div>
    <br>

  </div>